#ruleoption{
	position:relative;
	top:10px;
	align:center;
	z-index:8;
	font-family:verdana;
	font-size:13px;
	color:#AA3300;	
}

#shownodeinfo{
	position:relative;
	top:10px;
	align:center;
	z-index:8;
	width:90%;
	font-family:verdana;
	font-size:13px;
	color:#AA3300;	
}
	
#decisionsupportinfo{
	position:relative;
	top:10px;
	z-index:8;
	left:20;
	width:95%;
	font-family:verdana;
	font-size:13px;
	color:#AA3300;	
}

A.decisiontreepath:link{	font-family:verdana;font-size:11px;color:#889988; text-decoration:none; }
A.decisiontreepath:active{	font-family:verdana;font-size:11px;color:#889988; text-decoration:none;}
A.decisiontreepath:visited{	font-family:verdana;font-size:11px;color:#999999; text-decoration:none;}
A.decisiontreepath:hover{	font-family:verdana;font-size:11px;color: #775522; text-decoration:none;}


a.ruleoptions:link{	font-family:verdana;font-size:13px;color:#CC3300; text-decoration:none; }
a.ruleoptions:active{	font-family:verdana;font-size:13px;color:#CC3300; text-decoration:none;}
a.ruleoptions:visited{	font-family:verdana;font-size:13px;color:#CC3300; text-decoration:none;}
a.ruleoptions:hover{	font-family:verdana;font-size:13px;color: #775572; text-decoration:underline;}
